// Fonts
// -----------------------------------------
$font-headline: 'AzukiOT', Serif;
$font-regular: 'boucherie-flared', sans-serif;

// Breakpoints
// -----------------------------------------
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop: 1920px;
$global-max-width: none;

// Color Pallet
// -----------------------------------------

$color-white: #FEFBF1;
$color-midwhite: #eee7d6;
$color-offwhite: #DED3BB;
$color-gold: #EDBD24;
$color-red: #d42127;
$color-orange: #ED6224;
$color-brown: #2B0F03;

$color-primary: $color-red;

// UI
// -----------------------------------------